body {
  background-color: #0d1117;
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: cadetblue;
}
#defi {
  color: aqua;
  text-align: center;
}
h2 {
  font-family: monospace;
  color: black;
  background-color: red;
  border-style: solid;
  border-color: white;
  margin-top: -10px;
  padding: 0px 10px 20px 40px 80px;
  text-align: center;
}
#x1 {
  color: hotpink;
}

#x2 {
  color: blueviolet;
}
